.container {
  min-height: calc(100vh - 72px);
  padding: 48px 64px;
}

.container h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.catalogGrid {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 64px;
  align-items: start;
}

.filtersSidebar {
  position: sticky;
  top: 88px;
}

.filtersCard {
  padding: 0;
}

.filtersCard h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #475467;
  margin: 0 0 14px 0;
}

.campersList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.campersGrid {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.camperCard {
  display: grid;
  grid-template-columns: 290px 1fr;
  gap: 24px;
  padding: 24px;
  border: 1px solid #10182808;
  border-radius: 20px;
  background: #fff;
}

.camperCard h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #101828;
  margin: 0 0 8px 0;
}

.camperCard p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #475467;
  margin: 0;
}

.loadMore {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.loadMore button {
  min-width: 145px;
  padding: 16px 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 200px;
  background-color: transparent;
  color: #101828;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.loadMore button:hover {
  border-color: #e44848;
}