.header {
  background-color: #fff;
  border-bottom: 1px solid #dadde1;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 72px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.navList {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #101828;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  padding: 4px 0;
}

.navLink.active {
  color: #e44848;
}