* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e44848;
  --secondary-color: #475467;
  --text-color: #101828;
  --bg-color: #f7f7f7;
  --white: #ffffff;
  --border-color: #dadde1;
  --success-color: #4caf50;
  --error-color: #f44336;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--bg-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  font-family: inherit;
}